h1{
  text-align: center;
  padding: 20px;
}
div{
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-bottom: 5px;
  border: 2px dotted black;
  background-color: lightgray;
}
p{
  text-align: center;
}
